:root{
    --primary-color: #5a4a42;
    --primary-color-transparent: #5a4a423d;
    --secondary-color: #9f7f61;
    --accent-color: #d9c3b0;
    --tim-a: rgb(168, 203, 255);
    --tim-b: rgb(255, 120, 120);
}